.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}


.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    width: 200px;
    background-color: white;
    display: none;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}

.centrado{
  margin-left: auto;
  margin-right: auto;
  border: 1;
  background-color: #eeeeee;
}

.barra_superior {
    float: left;
    border-radius: 10px;
	padding: 18px;
	width: 97%;
    background-color: #1565C0;
}

.navbar table {
    table-layout: fixed;
    width: 100%;
}

.navbar a{
    background-color: #1565C0;
    color: white;
    width: 100%;
    border-radius: 5px;
    font: bold 20px Arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover{
    background-color: darkblue;
}

.recuadro1 {
    border-radius: 10px 10px 0px 0px;
    padding: 18px;
    width: 97%;
    background-color: #B0BEC5;
}
.recuadro2 {
    border-radius: 0px 0px 10px 10px;
    padding: 18px;
    width: 97%;
    background-color: #B0BEC5;
}

img {
    float: left;
    margin-right: 10px;
}

a:link 
{ 
text-decoration:none; 
} 

.tabla{
    background-color: #B0BEC5;
}

.titulo{
    font-family: Helvetica;
    font-size: 35px;
    color: #EEEEEE;

}