.navbar table {
    table-layout: fixed;
    width: 97%;
}

.navbar a{
    background-color: #1565C0;
    color: white;
    width: 100%;
    border-radius: 5px;
    font: bold 20px Arial;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.navbar a:hover{
    background-color: darkblue;
}

.sidenav {
    height: 150%;
    width: 14%;
    position: absolute;
    left: 1%;
    padding-top: 10px;
    border: 2px solid;
    border-radius: 5px;
}

.sidenav p {
    font: bold 17px Arial;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font: bold 15px Arial;
    display: block;
}

.sidenav a:hover {
    background-color: slategray;
}

.main {
    margin-left: 15%;
    height: 150%;
    width: 80%;
    position: absolute;
    left: 10px;
    background-color: white;
}

.main div {
    height: 250px;
    margin-bottom: 1%;
    border: 2px solid;
    border-radius: 5px;
}

.main h1 {
    text-align: center;
}

.main img {
    float: left;
    margin: 1%;
}

.main a {
    color: black;
    text-decoration: none;
}

a:link 
{ 
text-decoration:none; 
} 