* {
	margin:0;
	padding:0;
}

body {
	background:#FFFFFA;
}

.flex-container {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
  }

header {
	width:100%;
	height:auto; 
	overflow:hidden;
	background:#1565C0;
}

.header a{
	float: left;
	overflow:hidden;
	align-items: center;
}

.bod{
	float: left;
	height: 100%;
}

.center { 
	justify-content: center; 
	
}  
.space-evenly { 
	justify-content: space-evenly; 
  }

.header .bt-menu {
	display:block;
	padding:20px;
	background:#1565C0;
	color:#fff;
	text-decoration:none;
	font-weight: bold;
	font-size:20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}

header h4{
	padding: 15%;
	padding-left: 0%;
	color:#fff;
	text-decoration:none;
}

nav {
	width:80%;
	height:100%;
	left:-100%;
	margin:0;
	position: fixed;
	background:#1565C0;
}

nav ul li {
	display:block;
	float:none;
	border-bottom:1px solid rgba(255,255,255, .3);
}

nav ul li a:hover {
	background:#037E8C;
}

nav ul li a {
	color:#fff;
	padding:20px;
	display:block;
	text-decoration:none;
}

.com{
	background-color: #A4A4A4;
	padding: 1%;
}

.com p{
	font-size: 10px;
}
body h4{
	padding: 3%;
}